<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Student API</title>

    <link rel="stylesheet" href="http://localhost/angular-app/resources/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://localhost/angular-app/resources/bootstrap4/css/bootstrap.min.css">
</head>

<body>
    <div class="container-fluid" style="margin-top: 1em;" ng-app="studentsApi" ng-controller="studentsApiController">
        <div class="row">
            <div class="col-md-8 mx-auto jumbotron">
                <div class="col-sm-6 mb-2 float-left">
                    <button type="button" class="btn btn-success btn-block" ng-click="loadAllStudents()" ng-bind-html="studentDataLoadButtonElement"></button>
                </div>
                <div class="col-sm-6 mb-2 float-left">
                    <button type="button" class="btn btn-success btn-block" ng-click="showForm()">Add New Student</button>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-10 mx-auto jumbotron">
                    <center>
                        <table class="table table-responsive-lg table-hover w-100" id="table">
                            <caption>List of users</caption>
                            <thead>
                                <tr>
                                    <th scoe="col">Roll No</th>
                                    <th scoe="col">Name</th>
                                    <th scoe="col">Email</th>
                                    <th scoe="col">DOB</th>
                                    <th scoe="col">Gender</th>
                                    <th scoe="col">Age</th>
                                    <th scoe="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="stud in students">
                                    <td class="row">{{ stud.rollNo }}</td>
                                    <td>{{ stud.name }}</td>
                                    <td>{{ stud.email }}</td>
                                    <td>{{ stud.date | date }}</td>
                                    <td>{{ (stud.isMale)?'Male':'Female' }}</td>
                                    <td>{{ stud.age }}</td>
                                    <td>
                                        <button class='btn mb-1 mr-2 btn-outline-primary btn-sm update' ng-disabled="disabledUpdateButtonElement" ng-click="showForm(stud.rollNo)"
                                            nb-blind-htnl="studentUpdateButtonElement">
                                            <i class='fa fa-pencil-square'></i>
                                        </button>
                                        <button ng-click="deleteStudent(stud.rollNo)" ng-disabled="disableDeleteButtonElement" ng-bind-html="studentDataDeleteButtonElement"
                                            class='btn  btn-outline-danger btn-sm delete'>
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </center>
                </div>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog" visible="showModal" aria-labelledby="modal-label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-label" ng-bind-html="modalLabelElement"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <form action="javascript:void(0)" id="student-form" name="student-form" novalidate>
                                <div class="row mb-2">
                                    <div class="col-md-3">Roll No:</div>
                                    <div class="col-md-9">
                                        <input class="form-control" type="number" ng-class="rollNoInputClass" for="student-form" ng-model="student.rollNo" placeholder="Enter rollno">
                                        <div class="invalid-feedback">
                                            Roll no must be numeric only!
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-3">Name:</div>
                                    <div class="col-md-9">
                                        <input class="form-control" type="text" ng-class="nameInputClass" ng-model="student.name" placeholder="Enter name">
                                        <div class="invalid-feedback">
                                            Name must be alpha only!
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-3">Email:</div>
                                    <div class="col-md-9">
                                        <input class="form-control" type="email" name="email" ng-class="emailInputClass" ng-model="student.email" data-validation="email"
                                            placeholder="Enter email">
                                        <div class="invalid-feedback">
                                            Enter valid email!
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-3">DOB:</div>
                                    <div class="col-md-9">
                                        <input class="form-control" type="date" ng-class="dateInputClass" ng-model="student.date" placeholder="Enter dob">
                                        <div class="invalid-feedback">
                                            Enter valid date!
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">Gender:</div>
                                    <div class="col-md-9">
                                        <select class="form-control" ng-class="genderInputClass" ng-init="student.isMale=''" ng-model="student.isMale">
                                            <option ng-value="">Select a Gender</option>
                                            <option ng-value="true">Male</option>
                                            <option ng-value="false">Female</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Select any one!
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="create-student" ng-click="(isAddable)?addNewStudent():updateStudent()"
                            ng-disabled="addStudentButtonElement" ng-bind-html="submitButtonElement"></button>
                        <button type="button" class="btn btn-default make-close" id="close" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="http://localhost/angular-app/resources/jquery.min.js"></script>
    <script src="http://localhost/angular-app/resources/bootstrap4/js/bootstrap.min.js"></script>
    <script src="http://localhost/angular-app/resources/angular/angular.js"></script>
    <script>

        angular.module('studentsApi', []).controller('studentsApiController', function ($scope, $sce, dataService, $timeout, $window) {


            $scope.students = [];
            var modalElement = angular.element('#myModal');
            $scope.studentDataLoadButtonElement = $sce.trustAsHtml('Load Student Data');
            $scope.studentDataDeleteButtonElement = $sce.trustAsHtml('<i class="fa fa-trash"></i>');

            $scope.resetForm = function () { 
                $scope.student = {
                    rollNo: '',
                    name: '',
                    email: '',
                    isMale: '',
                    date: '',
                    age: ''
                }
                $scope.isAddable = true;
                $scope.hideError();
            }

            $scope.hideError = function () {
                $scope.rollNoInputClass = "";
                $scope.nameInputClass = "";
                $scope.dateInputClass = "";
                $scope.emailInputClass = "";
                $scope.genderInputClass = "";
            }

            $scope.loadAllStudents = function () {
                $scope.studentDataLoadButtonElement = $sce.trustAsHtml('<i class="fa fa-spinner fa-spin"></i> Loading...');
                dataService.getAllStudents().then(function (response) {
                    $scope.students = response.data;
                    $scope.studentDataLoadButtonElement = $sce.trustAsHtml('Loaded');
                }, function () {
                    console.log(' Something went wrong!');
                }).then(function () {
                    $scope.studentDataLoadButtonElement = $sce.trustAsHtml('Load Student Data');
                });
            };

            $scope.openModal = function () {
                modalElement.modal('show');
            }

            $scope.closeModal = function () {
                modalElement.modal('hide');
            }

            $scope.showForm = function (rollNo = '') {
                $scope.resetForm();
                if (rollNo === '') {
                    $scope.submitButtonElement = $scope.modalLabelElement = $sce.trustAsHtml('Add New Student');
                    $scope.submitButtonElement = $sce.trustAsHtml('Add New Student');
                    $scope.isAddable = true;
                } else {
                    dataService.getStudent(rollNo).then(function (response) {
                        
                        $scope.student = response.data;
                        $scope.student.date = new Date($scope.student.date);
                        $scope.submitButtonElement = $scope.modalLabelElement = $sce.trustAsHtml('Update Student');
                        $scope.submitButtonElement = $sce.trustAsHtml('Update Student');
                        $scope.isAddable = false;
                    }, function () {
                        console.log(' Something went wrong!');
                    });
                }
                $scope.openModal();
            }

            $scope.addNewStudent = function () {
                console.log('adding');
                $scope.submitButtonElement = $sce.trustAsHtml('<i class="fa fa-spinner fa-spin"></i> Adding');
                if ($scope.isValidStudent()) {
                    $scope.addStudentButtonElement = true;
                    var dob = new Date($scope.student.date);
                    var currentDate = new Date();
                    $scope.student.date = dob.getFullYear() + "-" + dob.getMonth() + "-" + dob.getDate();
                    $scope.student.age = currentDate.getFullYear() - dob.getFullYear()

                    dataService.addNewStudent($scope.student).then(function () {
                        $scope.submitButtonElement = $sce.trustAsHtml('Added');
                        $timeout(function () {
                            $scope.closeModal();
                            $scope.loadAllStudents();
                        }, 1500)
                    }, function () {
                        $scope.submitButtonElement = $sce.trustAsHtml('Retry');
                    }).then(function () {
                        $scope.addStudentButtonElement = false;
                    });
                } else {
                    $scope.submitButtonElement = $sce.trustAsHtml('Retry');
                }
            }

            $scope.loadAllStudents();

            $scope.isValidStudent = function () {
                var hasError = true;

                $scope.hideError();
                if ($scope.student.rollNo == "" || isNaN($scope.student.rollNo) || $scope.student.rollNo < 1) {
                    $scope.rollNoInputClass = 'is-invalid';
                    hasError = false;
                }
                if ($scope.student.name == "" || !isNaN($scope.student.name)) {
                    $scope.nameInputClass = 'is-invalid';
                    hasError = false;
                }
                if ($scope.student.email == "") {
                    $scope.emailInputClass = 'is-invalid';
                    hasError = false;
                }
                if ($scope.student.isMale == "") {
                    $scope.genderInputClass = 'is-invalid';
                    hasError = false;
                }
                if (!Date.parse($scope.student.date)) {
                    $scope.dateInputClass = 'is-invalid';
                    hasError = false;
                }
                return hasError;

            }

            $scope.deleteStudent = function (rollNo) {
                if($window.confirm('are you sure to delete?')) {
                $scope.disableDeleteButtonElement = true
                $scope.studentDataDeleteButtonElement = $sce.trustAsHtml('<i class="fa fa-spinner fa-spin"></i>');
                dataService.deleteStudent(rollNo).then(function (response) {
                    console.log(response);
                    $scope.students = response.data;
                    $scope.studentDataDeleteButtonElement = $sce.trustAsHtml('<i class="fa fa-check"></i>');
                }, function () {
                    console.log(' Something went wrong!');
                }).then(function () {
                    $scope.disableDeleteButtonElement = false;
                    $scope.studentDataDeleteButtonElement = $sce.trustAsHtml('<i class="fa fa-trash"></i>');
                    $scope.loadAllStudents();
                });
                }
            }


            $scope.updateStudent = function (rollNo) {
                console.log($scope.student);
                console.log('updating');

                $scope.submitButtonElement = $sce.trustAsHtml('<i class="fa fa-spinner fa-spin"></i> Updating');
                console.log($scope.student)
                if ($scope.isValidStudent()) {
                $scope.addStudentButtonElement = true;
                    var dob = new Date($scope.student.date);
                    var currentDate = new Date();
                    //$scope.student.date = dob.getFullYear() + "-" + dob.getMonth() + "-" + dob.getDate();
                    $scope.student.age = currentDate.getFullYear() - dob.getFullYear()

                    dataService.updateStudent($scope.student).then(function () {
                        $scope.submitButtonElement = $sce.trustAsHtml('Updated');
                        $timeout(function () {
                            $scope.closeModal();
                            $scope.loadAllStudents();
                        }, 1500)
                    }, function () {
                        $scope.submitButtonElement = $sce.trustAsHtml('Retry');
                    }).then(function () {
                        $scope.addStudentButtonElement = false;
                    });
                } else {
                    $scope.submitButtonElement = $sce.trustAsHtml('Retry');
                }

            }
        });

        angular.module('studentsApi').factory('dataService', function ($http) {
            var obj = {};
            var _url = 'http://gsmktg.azurewebsites.net/api/v1/techlabs/test/students/';
            obj.getAllStudents = function () {
                return $http({ method: 'GET', url: _url });
            };
            obj.getStudent = function (rollNo) {
                return $http({ method: 'GET', url: _url + rollNo })
            }
            obj.deleteStudent = function (rollNo) {
                return $http({ method: 'DELETE', url: _url + rollNo });
            }
            obj.addNewStudent = function (student) {
                return $http({ method: 'POST', data: student, url: _url });
            }
            obj.updateStudent = function (student) {
                return $http({ method: 'PUT', data: student, url: _url + student.rollNo });
            }
            return obj;
        });           
    </script>
</body>

</html>