<div class="row">
    <div class="col-md-10 mx-auto jumbotron">
        <table class="table table-responsive-lg table-hover w-100" id="table">
            <caption>List of users</caption>
            <thead>
                <tr>
                    <th scoe="col">Roll No</th>
                    <th scoe="col">Name</th>
                    <th scoe="col">Email</th>
                    <th scoe="col">DOB</th>
                    <th scoe="col">Gender</th>
                    <th scoe="col">Age</th>
                    <th scoe="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="stud in students">
                    <td class="row">{{ stud.rollNo }}</td>
                    <td>{{ stud.name }}</td>
                    <td>{{ stud.email }}</td>
                    <td>{{ stud.date | date }}</td>
                    <td>{{ (stud.isMale)?'Male':'Female' }}</td>
                    <td>{{ stud.age }}</td>
                    <td>
                        <a class='btn mb-1 mr-2 btn-outline-primary btn-sm update' ng-href="{{'#update/'+stud.rollNo}}" ng-click="showForm(stud.rollNo)">
                            <i class='fa fa-pencil-square' aria-hidden="true"></i>
                        </a>
                        <a class='btn  btn-outline-danger btn-sm delete' ng-href="{{'#delete/'+stud.rollNo}}" ng-disabled="deleteDisabledButtonElement">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>